body {
    background-color: white;

}
header {
    background-color: #FAFAFA;
    border-bottom: 2px solid #aaa7a7;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 100;
    left: 0;
}

.navigation {
    display: flex;
    justify-content: centre;
    flex-direction: row;
    text-align: center;
    padding: 26px;
    flex-wrap: wrap;
}
/* .search_bar a{
    font-size: ;
    padding-left: 15;
} */

.content_container {
    background-color: white;
    margin-top: 50px;
    position: absolute;
    left: 0px;
    top: 83px;  
    width: 100%;
}
/* .navigation {
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    text-align: center;
    width: ;
} */

.instalogo {
    display: flex;
    flex-direction: row;
    justify-self: flex-start;
    width: 30%;

}

.instalogo a{
    font-size: 25px;
    padding-left: 10;
}
.vl {
    border-left: 1.5px solid #080808;
    height: 30px;
    margin-left: 20px;
}